:root {
    --spinner-empty-color: #e3effa;
    --spinner-filled-color: #0037ff;
}

@keyframes rotation {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(359deg);
    }
}

.spinner {
    position: relative;
}

.spinner__canvas__rotating {
    animation: rotation 2s infinite linear;
}

.spinner__hidden {
    display: none;
}

.spinner__circle {
    position: absolute;
    top: 8px;
    right: 8px;
    bottom: 8px;
    left: 8px;

    border-radius: 100%;
    background-color: white;
}

.spinner__canvas {
    position: absolute;

    border-radius: 100%;
    background-color: var(--spinner-empty-color);
}