:root {
    --padding-between-containers: 48px;
    --input-focus-color: #0037ff
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}


.spinner-page {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 16px;
}

.spinner-container {
    position: relative;
    height: 50%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding-bottom: var(--padding-between-containers);
}

.spinner-container p {
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
}

.spinner-container .spinner {
    width: 150px;
    height: 150px;
}

.inputs-container {
    position: relative;
    height: 50%;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: start;
    padding-top: var(--padding-between-containers);
}

.inputs-container__left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: end;
    padding-right: 1.5em;
}

.inputs-container__right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: start;
}

.inputs-container__right p {
    height: 32px;
    display: flex;
    align-items: center;
}

.toggle {
    width: 52px;
    height: 32px;
    border-radius: 32px;
}

input[type=number] {
    width: 52px;
    height: 32px;
    border-radius: 32px;
    padding: 12px;
    border: 1px solid black;
}

input[type=number]:focus {
    outline: none;
    border-color: var(--input-focus-color);
}