* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}


.spinner-page {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 16px;
}

.spinner-container {
    position: relative;
    height: 50%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding-bottom: 48px;
}

.spinner-container p {
    position: absolute;
    top: 0;
    left: 0;
}

.spinner-container .spinner {
    width: 150px;
    height: 150px;
}

.inputs-container {
    position: relative;
    height: 50%;
    width: 100%;
    padding: 64px;

    display: flex;
    flex-direction: row;
}

.inputs-container__left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: end;
    padding-right: 1.5em;
}

.inputs-container__right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: start;
}

.toggle__bg {

}

.toggle__tumbler {
    
}